<template>
    <div id="container"></div>
</template>

<script lang="ts">

import Vue from 'vue';
import * as THREE from 'three';
const OrbitControls = require('three-orbit-controls')(THREE);

import { PCDData } from 'server/libs/pcd/pcdData';
import { readFileSync } from 'fs';


export default Vue.extend({
    props: {
        data: Object as () => PCDData,
    },
    data() {
        const scene  = new THREE.Scene();
        const renderer = new THREE.WebGLRenderer();
        const camera = new THREE.PerspectiveCamera();
        const controls = new OrbitControls(camera);
        const requestAnimationFrameId = 0;

        return {
            scene,
            renderer,
            camera,
            controls,
            requestAnimationFrameId,
        };
    },
    mounted() {
        const element: any = document.getElementById('container');
        const { clientHeight, clientWidth } = element;

        this.camera.aspect = clientWidth / clientHeight;
        this.camera.fov = 75;
        this.camera.near = 0.1;
        this.camera.far = 1000;
        this.camera.position.z = 5;

        this.renderer.setSize(clientWidth, clientHeight);
        element.appendChild(this.renderer.domElement);

        const starsGeometry = new THREE.Geometry();
        for (let i = 0; i < 100; i++) {
            const star = new THREE.Vector3();

            star.x = (Math.random() * 20 - 10);
            star.y = (Math.random() * 20 - 10);
            star.z = -100;

            starsGeometry.vertices.push(star);
        }

        const starsMaterial = new THREE.PointsMaterial({ color: 0x888888 });
        const starField = new THREE.Points(starsGeometry, starsMaterial);
        const axesHelper = new THREE.AxesHelper();
        this.scene.add( axesHelper );

        this.scene.add(starField);
        this.renderer.render(this.scene, this.camera);
        this.animate();
    },
    beforeDestroy() {
        cancelAnimationFrame(this.requestAnimationFrameId);
    },
    methods: {
        animate() {
            this.controls.update();
            this.renderer.render(this.scene, this.camera);

            this.requestAnimationFrameId = requestAnimationFrame(this.animate);
        },
    },
});

</script>

<style scoped>

#container {
    width: 100%;
    height: 100%;
}

</style>

