<template>
    <v-layout row
        wrap
        justify-center
    >
        <a v-for="(item, i) in links"
            :key="i"
            :href="item.url"
            target="_blank"
        >
            <v-avatar class="avatar-spacer"
                :tile="true"
            >
                <img :src="item.image"
                    :alt="item.url">
            </v-avatar>
        </a>
    </v-layout>
</template>

<script lang="ts">

import Vue from 'vue';

export interface ProfileLinkInfo {
    image: string;
    url: string;
}

export default Vue.extend({
    props: {
        links: Array as () => ProfileLinkInfo[],
    },
});

</script>

<style scoped>

.avatar-spacer {
    margin: 30px;
}

</style>

