<template>
    <v-dialog v-model="isDialogOpen"
        persistent
        max-width="600px">
        <v-btn fab
            flat
            slot="activator"
        >
            <v-icon>add</v-icon>
        </v-btn>
        <v-card>
            <v-card-title>
                <span class="headline">Restaurant Info</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 sm8>
                            <v-text-field label="Tabelog url" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-btn color="blue darken-1">
                                Populate
                            </v-btn>
                        </v-flex>
                        <v-flex xs12>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Name"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Url"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Country"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Address"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Link"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Holiday"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Rating"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Is Relocated"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="Location"
                                required
                            >
                            </v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="isDialogOpen = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click.native="isDialogOpen = false">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">

import Vue from 'vue';

import { RestaurantInfo } from '../server/models/restaurant/restaurant.schema';

export default Vue.extend({
    data() {
        const isDialogOpen = false;

        return {
            isDialogOpen,
        };
    },
});

</script>

<style scoped>
</style>
