<template>
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-data-iterator
            :items="restaurant"
            content-tag="v-layout"
            :hide-actions="true"
            row
            wrap
        >
            <v-flex
                slot="item"
                slot-scope="props"
                xs12
                sm6
                md4
                lg3
            >
                <v-card>
                    <v-card-title>
                        <h4>{{ props.item.key  | countryName }} </h4>
                        <v-spacer></v-spacer>
                            <v-avatar
                                size="28"
                            >
                            <v-icon class="flag-icon flag-icon-squared"
                                :class="'flag-icon-' + props.item.key.toLowerCase()"
                            >
                            </v-icon>
                        </v-avatar>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-list dense>
                        <v-list-tile v-for="(item, i) in props.item.restaurants"
                            :key="i"
                        >
                            <v-list-tile-content>
                                <a :href="item.url"
                                    target="_blank"
                                >
                                    {{ item.name }}
                                </a>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                    </v-card>
                </v-flex>
            </v-data-iterator>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

const { countries } = require('country-data');

export default Vue.extend({
    props: {
        restaurant: Array as () => any[],
    },
    filters: {
        countryName: (value: string) => {
            const { name } = countries[value];

            return name;
        },
    },
});

</script>

<style scoped>

a {
    text-decoration: none;
}
</style>
