<template>
    <v-data-table
        :headers="headers"
        :items="restaurant"
        hide-actions
        item-key="_id"
        class="elevation-1"
    >
        <template slot="items"
            slot-scope="props"
        >
            <tr @click="props.expanded = !props.expanded">
                <td>
                    <v-avatar
                        size="28"
                        style="margin-right:15px"
                    >
                        <v-icon class="flag-icon flag-icon-squared"
                            :class="'flag-icon-' + props.item.country.toLowerCase()"
                        >
                        </v-icon>
                    </v-avatar>
                    <a :href="props.item.url"
                        target="_blank"
                    >
                        {{ props.item.name }}
                    </a>
                </td>
                <td>{{ props.item.rating }}</td>
            </tr>
        </template>
        <template slot="expand" slot-scope="props">
            <v-card flat>
                <v-card-text>Address: {{ props.item.address }}</v-card-text>
                <v-card-text>Holiday: {{ props.item.holiday }}</v-card-text>
                <v-card-text>
                    Location: {{ props.item.location.lat }} {{ props.item.location.lng }}
                    <a  :href="props.item.googleMapUrl"
                        target="_blank"
                    >
                        Google Map
                    </a>
                </v-card-text>
            </v-card>
        </template>
    </v-data-table>
</template>

<script lang="ts">

import Vue from 'vue';

import { RestaurantInfo } from '../server/models/restaurant/restaurant.schema';

export default Vue.extend({
    props: {
        restaurant: Array as () => RestaurantInfo[],
        headers: Array as () => Array<{ text: string; value: string; }>,
    },
});

</script>

<style scoped>

a {
    text-decoration: none;
}

</style>
