<template>
    <v-container fill-height>
        <v-layout column>
            <v-flex xs12>
                <v-card v-for="item in blog"
                    :key="item.id"
                    style="margin-bottom: 15px"
                    :to="{ name: 'blog-id', params: { id: item.id } }"
                >
                    <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{ item.title }}</h3>
                        <p>{{ item.created | fromNow }}</p>

                        <div>{{ item.description }}</div>
                    </div>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

import * as dayjs from 'dayjs';
const relativeTime = require('dayjs/plugin/relativeTime.js');

dayjs.extend(relativeTime);

export default Vue.extend({
    async asyncData({ app }) {
        const blog = await app.$axios.$get('/api/blog');

        return {
            blog,
        };
    },
    filters: {
        fromNow: (value: string) => {
            return (dayjs(value) as any).fromNow();
        },
    },
});

</script>
