<template>
    <v-container
        fill-height
        grid-list-sm
    >
        <v-layout
            row
            wrap
        >
            <v-flex v-for="item in cookings"
                :key="item.name"
                sm4
                xs12
            >
                <v-card flat tile>
                    <v-img
                        :src="item.link"
                        :aspect-ratio="16/9"
                    ></v-img>

                    <!-- <v-card-title primary-title>
                        <div>
                            <h3>{{ item.name }}</h3>
                        </div>
                    </v-card-title> -->
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
    async asyncData({ app }) {
        const cookings = [
            {
                name: 'Green beans and potato with pork',
                link: 'https://lh3.googleusercontent.com/kLoT5gmYefa4rirhKb-oTLfGBL5HOs3TB86tqAlypSalbQHSDRVC4eN8UeBOiuQ60MxwAKSjGS7DomcEfkeN_0QAYCBroGraAOY45IfRHekFuepeCM_7hRGuUsyhWwuijZxOJXaQFCZU8TN6aKWTEPVDfvQt5YKVPrwWCAncuvAN3-8HaglYFWqR8ojQ1B8sg3A_FgtM6NUYEjZ8uaENR1KmIS5d5XF4nxxzJltL1hfdXIG-4AlrCszfOk9FX6V-Pd-4hL3G-mvhrI1efaerv1YL8eI74dsE0AOsvAe_c0xeEhgNTaMsetysboks_QbEyfipL5sPyOu5xGlKoaz9HE2_jzl1IqmrKbIbZeMjNTEhVNbuwk3LCtrAyL_KVojjvCFgdSXtfQPzG2Rps3x0R7FSf8tojNWUmSwqM5Jq0mKwaBoGbWvvhrm9MigxP1chHuXeFckxS3hT-3zJdqgJLwRPeiPyCG2NvJW0MF_NqkDkOuwjFnvqWynkKdllTgatPUAv2JmtBm4Hrpby8DOQGw6jZbhMyvR77aRQm0URu6glCcDLpoeYaqCc2iX2yT6VHUaU2sMFECLcdo-jxlAK4aVgC0gCFkhzbT-06NSwEErWaDb3z_iGPzgmIsLacMbn0bMtdDYoDnek4YT_8CGqY1QL2w=w638-h850-no'
            },
            {
                name: 'Gyoza tama',
                link: 'https://lh3.googleusercontent.com/uGE58mV1Pickf7D7M2CkMWvLsHqvK7TGAHYxxZ0OYXUxD636XdgmB7p2sZkgoxSpsYGESsjItTh9RAK2lNKpvrDacToiNGgNyJFTu9j0cy69bgbepvuxdvpFqhAksRG-JtpEEHZhZT2sF2OVvbOD0dr2da629byp3hUMbOOZ1-kSYPMOOYlZB_uUP2Zb7x6QvVhv6g30crjDGlTBZwKv761t8HLVehIRcjfDNv13WcHJ-EUUuEqArqhgkor3mxayWXRbD0x2SMgabLxOwSnI2tMzTqm54um-cxJH_zR2YlCWJXo91TG-bwHNltQ7mrb5eMrf3eEOIRF3Fj3mB3FBP4owel6vWbLc40QX5HEFhnJsbpOxe9qrbnR8L1F6jowvMY4mlbIGDHCsIcHT_mb5fsU9MIHCg5nixI9othUrA0quhciI3TZIhHqLFMgIpCOJ49Amdwvt8baloScBTN01syLO9txvxaZJV_ELx-h4rNwa1QrYxEi-7VoVvy7aYGPI0smKNsqL9clZU1HWPdNPk4YZLvkJAKwETIdUnGK2YROR751HmcKNeShO3mGECW7X5Uf4Wi8lylDJpLZVvkQGY0wVBkWe9u1V0P18uUR9sSR9JTkclF9ezvUnCcF0Viz0MGFPksGNBnAA2SQTemy1wsqE6g=w638-h850-no'
            },
            {
                name: 'Gyoza',
                link: 'https://lh3.googleusercontent.com/WU7UDkXJi3I3FCaFARaoixVeYuMOQ7MV_PTVgc6r3xziN7RzsxeGY9ISr5NXYL_GfZkVWMFPf1dgqSA7YffuemCdsG5qsFNRQWpJW8tsqUsC14JnZs8YKqQ9Rhe7PXXW3p653sXdXUN4noYDRos8tR2J9iFwrmZ00WFTb9pvBQHvV2tnM96o3YW7r3td-hbckLNSLqcaviboGIzscdD09xCsDzVLYyLoJZoFIU_0Huu7r3imEjsXEswsA6uoBV7Mh8bKvo2vUsenyBK0_izUaNFPczTWzC64mB7ynd7-079g-9_uxL6lZddFMRNKO9N2puL4iQISy6NyuUSZMNrw9rW3JbDqP-JpDW5Qyas9GUOFHrHY5hCJZAoZji_LgtDmZbekXoN3ezpUZOStYO5fc4MQKuMn3UvXnEglQePskJsjaB8iKxeJKsyLLXIMxvad-BGgfscm9Wte-AIhO-kZfsOgZqxUNcApbWcNDQlQPj-Vj6QIShEwoykHkUg9PHtQe3bFV6CNvsA3dfNoIaEwFLBRnyl6QmFVPnnQ6SH8eFB-U36hUctCAyqmZKZoNQjHeppAvenLQneMdWXOBkB0uJBC8Kt4VMa8cgSPxFx7JUYuo7XrmwFZCKJTaAxc9rZzEUy5yLBAfha65esS16LKHjUhHw=w638-h850-no'
            },
            {
                name: 'Fry tara with ginger and soy sauce',
                link: 'https://lh3.googleusercontent.com/KUkOsbp0fKPTdn1SXKdz21fnzffRRhQxD_mfiebBrhplmAA1I0YV3aulGfIHe8Z-RUHZTwci93l5zYLaOK1-SCz8_XPTcu3k2pxI3LoNI3Ajdcz_uA4cyVT5iPw3q_dNeGYC9XGICRPPvPvgywlYqiICeznLiYvYQUyWz_OGtI9uDh6Civud23UDVZvcktD1IXVLW8C2lNTOzy2vt0vBO44STWiw_nd_P60FgbpCfemWREAGJQpYiNtnCe5Qo97lBeASpDW8gvpp22rWS4AGgZ4AYzneFYL9lNckyFCoUtfgTG72gduvlcnOye4KgqW8qPTNd-xkdT4LJm7fgqAkXRYm-UpMFJane_Kl9GlhtMPQeH_804IBPL2HhLTFqi8ndCECrWx98bbLyq7jgfRIY9Cvdv6Na0mRqaYcfq4vC8zSDeDRkLocRAust5c3BR88TBidkV7n6nd5-fhoMYVLYwd40Uj2wG_OIjrVDsVy2AqMlZb2kOGnW39eBfPnkdwlp3VBfZMiCnXHQi094FzaDJe8pLH5pz1bhdkuOh-G7haTB-6dPT9ZygZp7Tc5cZxOOjBHNHYjKYme_3yyhomofgpdvXXTlQ5qBQY57YmhQepSy-XRBGibTit3evnRsktFZwNSK7rAELfsyz1m_GfGxuJ76A=w638-h850-no'
            },
            {
                name: 'Tomato egg',
                link: 'https://lh3.googleusercontent.com/njQqWHypQYuq0TvjcpdTRpKjCvJtp7O1RY2kAt0R_VspeL0ge_YjmvPup4r94p5LJBvabDKdjLo-PWTNWcWRJy2FW4RmO0HUmOnCsN3MMAClMg77z0W1-bhwWK2ZeeLDZSl3VoxpgO_xX1SJHwUPEYajymvC9frxxEmE0Tc3jlywApBc4SWTh0y-KIlZixRPsUk-U_FjqIOwiQCwjE9AOiDjohqdMBR36ssbuOU9kEeRbsBSf5FqBj2KVvM5H6Ys2o9dFeBr8RnTfhKcBKzmawZojfRDekzB7qc8yBFamLmLRaAc_EePojaYk2P3q2TNgHo7ptvwTTc2W_pSNQUvOtj2lZ9SmnE2znJr4GL8jPobr7Zab_wzxOcWsbIIPvAH1a3CX60hQiBSWq1wlmFpf_OYoiz9z-xZonqRl9K8tF4e2Je7kEsHPDYThK1H5emIckDeIKymY2_CQ4aQiu2PKz5KnznzsYqdkyLO2-_eTLU0ItkbL5CUIr2ZtrYtwtTGF_FgZ5Xcg2lAfA6mrmwcg-qwLHEVOaSHjyBKCYaPAF1zJwXp2NyYOcGtHdbDwfzY-WdGk8spRWAuMPU7Mno05tjMjiVue1YBYjvUq9gjvU3RAyhiPmTnK6VyBLus_2XktRJeConuxcZhODOgnwu7YgQVAQ=w638-h850-no'
            },
            {
                name: 'Green beans with mince pork',
                link: 'https://lh3.googleusercontent.com/mG-ZZ9mKOytUL-W2hjft5FVfsT4Y6GBZ07LvYBGZlI2khMVuB8S8m8qYUbwDvD2QUZvW3IXb86REyEMFjKGplo7ysVNkOY6WS-cr6lCCNgrcNKWKm7bfPdWSxf7B2lcAgiepGSd70Y4lyz_U-Xu1-hj7tjpmZ5FS_PTNOCdTfd_hKLwMA945ysQFtzARo-6PJdwIOmnqjfxcmmF0l8m9TjZLydl-BHf6Z_sxN6-mehdUf5uIZKQkQf6jDPPglWl2xL5qeqYQMNQ2FwZUYPl08UVDiIUIdNse3_Ni7-XLlrLiZDZwtWXKE2kH6ZiNU7n2gYd5jQ_y9sIwdrsyvk4hcigRytdOqReeyFbuBivfMjQ8RbsrvTkWV22JfAixHcJCL3R7igh7EE8_dOER3zERSkK4j4SoCaTpi4wVBNeCuQE-wnl9J5wEIALyE9bshZiyqa0nE4mlZ5fw5f7DC5_FgXzEcc2RDd3uiKHeaqUSKmHXg8Cr5JDCJxV7FpCcHg7AuA7_wMGyc3bTwWf31ybomoeqfiwPLcukMHz-_6mcHuDeG0ZNzC-gqMG-8Exu62wO2dFn72OywC4Ty8leWB2aW-ULEU-aEFZEfZ-Psmsxgkcca-dKd4z-bZZrmXWvmwDh0LOwkpbysIDS_0ZmxsaTqKjbiw=w638-h850-no'
            },
            {
                name: 'Pumpkin with mince pork',
                link: 'https://lh3.googleusercontent.com/S-78WPiX3faXf_Pnw8Q-akSY4XIG6N5UeZt4HFH-AFfM00WsIFlCuuf3L8Kc16DWtvQGjDvxFD92kyYJ489_Xymxw3SarP5JO9FUpJEM0SCJnFJDaI60QFLdLDyoX-kgco6vd_B6j4fr4BReh55a3DIUPZWRC1l5Elv43G2Koq1Rmqp5h1lsfRrP4bXKVAfHogs15G8c6E19f6DnJzKBpHtKXQ6U7ewaZYB4FuGH49BRrq7K7J_LBi8adidHP1l5rDHi8KYHUhe0dQU7_WzdXFSKwXNUYBR7sOn1Owd1CV6qqBnKku0xdtSpkjfeUVdqhONv929YUYFR-YUYlMzfK_ByiboQW-ztQS9Dxqx4mVoR7_DiU_8gakNvBJGPIJoFoMtVMe09JVRNmSLdYTAy7WIhrGTw8oBRC7UOZXLcMVylVMXhVQASlCJSV4MSMw5ACzrDmoAGKmUlE4obOtHrkwJ3xRhQztRBh5dJFRJeJyAzUQu4_czUBnW_1WqZqJfqN5f9oJY92Y0F-CsjhsCcIwphEQAlLRAFR6QqawrOxaKG27Y9_2uOjsdO_2W1CffbtsHvjj3CirIODlgm5fsoWJRwhsjNb6_kLP94CxxXfv1me83rvStRmzFfg2ZDRMwcJ3PlRo7Hksrjupt13s29Jcy3uA=w165-h220-no'
            },
            {
                name: 'Brinjal, mushroom and capsicum',
                link: 'https://lh3.googleusercontent.com/AwaqXaP_0MF-NYo3WtCn9fbTJkbkQbPSX9tSVJuYnvO7r22JXnjUa7sA7YxhFKJwChIOWrxnRIjhES6mX6m-AJ_hqZ9b7MWw2XmnuqIbmZzMJLfxeoSFJejGwsw-8bY3C6OJ9hXbnmJX9d6-q2WTSb9ILEKDaf8WJMXt-wxII6tBpSSNsIrUyodNoGxsLrZxrBRlb1ZMBmAyVPT0KpJeNY7v3jKIXCtygztjoK1YMN7d8vrSQP8unnlxdlkJMVdbsZFodNsWFKEhWT0z9rnUKgbfLURPhwAJJ3Dc03shHMtIHBqKVsIfEPKOJgA44PvRgbSoUvXdtwJ2XUmBXCWVvZ9c_vYQLW3cRxaFksRNhLEBUOsKa5H1JXTCtE06h682fTNfBCIoxY5YrTPuwRk_JRBwN0Rd9qT7kaX4ovf8RnscLggLAeVjfw-sxGhkS8UqAYJveiWNozQNExkD3kLsgNaHkhDWRI6oKz849eSpUFasQHn3hDu5JuT10niRaF6oQN73T4fLpmgimd4YCllKuLNgtiy3HA4R4wCCveLd3L9No51QVd9yqJn4XRahsuW2S1WdHRwucl9tJXHWG66vv4mGI5tvrUFNx68Eq_86HP84XhBCjwKPf9BoSPFiyUD3bPZtGStLXC4L4BrUw5IT2Py0zQ=w165-h220-no'
            },
            {
                name: 'Stir fry spinach with garlic',
                link: 'https://lh3.googleusercontent.com/I-vp3BttM9en_xZbCZYpOIAiCf8wbBprWFi3Qsd4bCfR-3izyHIeGnUJ2NweTNfxu-veHv1urhsW3aNF5FO_DId7wlt22i6djMvz7h_Qf7kKXjrqyR9e50xv10TUlrJFeKirIvreMnBVFH92L5E8dPIO-dt7bq2Hd82pV_Qfom0aThDs8R6dfXHK0bDIwUmiFlYfaJ2DY-Da60cClru7yT7mQz5tTUUckSP5ZSPvUdcT56ytnfveSIL10pMtOiTKEivJrx-QaB41Cwo4DCTpf0XaeJPW69cqkDJJfOBpPUGBHwhPRO3gyZIZF2PtYMD_nCTHmFkN46TFZMAoKiP13HYEpsyX4dCAi2vr7EGNsRWQnnxcQepsW017OC1RCTuxKQ2JY1TOuTY2KqZI7TblfjR729Vb4fCfEFTnl3c6FCJYrpShs2fuZbZVNFv9N1x1LQNm6pFONAnGqrS5kGBPAsuVBNhZqjY4fD58kDaW8ajfLw63yHSxfZiT3yFwx4_GvOrBUxio9OHN94-Bq-8HBuuqTiea1RUFUtoHLEmVxUWqRJWILXjqgP9RFdJ1DV_cwAYGIWE_GrtRRR3227SgPLpU4hjyHAbsvMmaNiPXAbbgHv3ZfdIN-iaZ3lH6k7Pig7BRzeAJf6skSQf2qHsxLb_44A=w638-h850-no'
            },
            {
                name: 'Hot pot noodle',
                link: 'https://lh3.googleusercontent.com/k2mjT4eLygyPfXlK9RJ0dv8wpERhJuQeLvywyIeVNfSbfqiWO2z_4De8iH-K8Re_yAyigY4782DKhyDDM4wHaV_IOAAGzn3aJ7TrxgvsNJX9NKRltj7cdNzxpqwos4n8-nH5e-hdKt9NaQ3J79p41QEUFiTwSMuGjDO6Y55kBgcQNQx8fXSlM8f7fccj4NVGl1_EubWCfb79biS8e1Exnb7CVVNGpEChW3K5Pl5ClqYFItLuY9nKqwrxvoOz2d5kYp0hxavC6hpAt8H6e7fXBwnPsdoOLxGemhETyB47AIj2Fu16uxfniiB08Zgr2ms4OfZQBzVKSbevshSLy1P6z1ATgBDPqLgJAOWRF4_j7SAn6Ag5-lFMbuWjgLLjXoZ4Bk_3C1bng632tqIrqHn5kmezmhMmFe95lA2GAl8NVzyVL6QnNdvfylElweCRpjiLmMrqZ3e5A9vBm9TFESeNX4QldR1n0NhYfb5ptsu7erS1yYz2Yb1t2uZT1GFnRcusvmET8wYm_Oj4NqbCEV8mjnn0G4BFWZNTqrjlXpkFstQcLlGR2w-7v6iTqAYB0jRlmQdfKsSvq3JOnbFhVZKIj6_AAdAEUgIfsf6K37kTNknclOEjYB183sO6aNh5QyhH_DbRdslBWUAGdKMrYpLDZlEaxA=w638-h850-no'
            },
            {
                name: 'Chicken rice',
                link: 'https://lh3.googleusercontent.com/1www46xk0-GWjNjPGT-2GAMBnfxE31Jk7gBfcph_y7SD_XK4guQbXAKMdKNEMmImxpHV6yGm2kaphMIygfxaQAMStuDJZGIk_xziHF5AIAGA_iQR4dnSauI9WKNYjton799utVxQWMaFmpvzfo4FSqxnPwj2UhCVmDcbQBif5k04N6JU2BodzifhVxRGA-22Wurp0ClekgwDXWtRYmP4A4HUB1aGXywCyxUM9GxC16zW5FG8r0R-bXbCO-mth734qgQV0ndM-W8MR9zL9_p1HPJ8JZT-aJ6hXb593yhzavis2pyhvnLZP78_lP5OTMWAyOU34q69vn_y9L4GyBBtrXab4fS6UaTV1veRXwdOFi0pxEa4LcqIM9BWHOqoMFIVtbupvhzA3dafQFAY07-bOKfANELlfIiRvFkmnml5hgGyIVMIU0IL8tJI0mOEebTzfvzxBSfJ5cDp1DN7SNhxZPliEe9fVNnrx_D-3UI1xznVZUaS_Xca26K_P0tfyEQgZXGx0DKNEg9hk8OtnHcu85WSpG75mu0imufy4KpYPAIl8D7VDYf1wYMRk-Qkt-D3MWIgjrTAfjkDpvbuJi7QYo83O-kQLA5ZvxL0aJWXXZTTWQ-jEsbDCQTekBrNDvB4izhwoPuKOENqFaskb7Bje75-OA=w171-h228-no'
            },
            {
                name: 'Potato, carrot and mince pork',
                link: 'https://lh3.googleusercontent.com/IVROhpr0qW-1SbGXiRFTkP0W5ZbBm4I4ISyYBOI8b4gjvFcG05Wi_5pZQWMqQRIp8F9PmVNrjv7BXxammrYlgfqyI9y-FNbvBmettHyZzdunmU68xzMWjEqcneMMNRC-UXhQGIh1aOsp1_UrWaf2_QZn5gQI44W93v1crlCHnY-_X5_8rAhUZs2MiWBYVHq5nBmLTGXTJpNLypNb99ZfB9Jjl9A9f3gq9PCWHarYRGbwb57dxUHyAB9Agb4Q-_hqNc0HdPmF_pG4zpLrjijBe5DXWcwqEYsteG_6RJS88GJ94pwnrTqviBOstA6TwlnMdEvqrY0p8YIBkLgWaU577DfIyPuIef3Cx1pKtK0i6gSDFgXxl9DeQalKgDsM7chzAXQVk3Mmjhgi3ewHbbMwGbWpPa0z0F9QXXN5Dhp5A5zSxKLXtRXIhMcg6vwJLHCIycgat15XZwEbDZFm1fIqMfc3sZ0qKjMwdc3q8M55Iwb0c5UgPm4wOer7RBmOzLCi6Vj2ooEJ1HEAK5eA35mHQk9HVDfIzD16TnpfkXLYxa7UKjUB-ekRRhFMD9P5AEhBULU8xOKXjYSVM-bbR1omNXdZa72OkKTFDt0p9nKBytaiAZrh-xpFBdENAqq4h9_fFaCdLpEfqz3ZYbTAUskUfFo0bQ=w479-h850-no'
            },
            {
                name: 'Salmon avocado with egg yolk',
                link: 'https://lh3.googleusercontent.com/8dYGc2EZXsz2pzSniQgVYTMuV7LZTQwYoUMJ5bfsC1FYbH1TGbuYbygqjOryKAN83NPchs2VD28efi-ERph0PvPccTEAF1ca_2-LO3yo5eeUDGeLbLUyLPb8bDorinxQGP4-pyINe7kLjolU9jCiVwTO4dzVfrFE21K9ZcgV9Z10EXD4EMLCWJrM-JVxPUO_Tzmr3zhxjhRkEGd5wQ_2h5Wnu9KVDwq8RwAKYsyBwZtpuMcsc5Vf9Kc3yh94-KpwJal-1-5cJUeuhk9HPbETusx8Kcyj3UG62k8LSa5B-mVKt4c4rlbcC9EN-xbTCaeHdcpA51nsS3CR9_449MOGZLSfn9nxGVYpWGkM5Vt5RYl0o5v1GLSP1m_AHAEGe6A8kRT_jnfIcTlOxbMu5afhQe9mORL4tx95_hd8fQ7NvDtZb7MyTpZEDw7bGxNUp31MITcxCOJxIEsyLu3ptby1yAQChFbwnXOlKpNZUpWejbtvBCf2BqGCLRpq0EFneEcAM-pHRs9REX0200Bfxv7P5JPEWOGgpHC76FZ046FjsIYSTxIeVRdUPeoIToe40ssayfayG0_a3X47A15gsOo18XzR86XTfEstcuKch1yzi45ly-BCWzuRrqHKvtBogBobObOaPCTTjIFPN4p7uXfIPcFEPg=w138-h184-no'
            },
            {
                name: 'Chili sauce fry egg',
                link: 'https://lh3.googleusercontent.com/JBlk5G0-cy-c4EW-blV9-cVWSDGVzaYGI6rNm4zrWB1bRgabUDa1ky5xl3KINxQjlBJOogyUE_LtViR5To2pa3bd03OXaDXMeH-V2SazE96E8piwVMDu9WJbfH9oZTwbTaqMeA2-kVG9IwMPECTD-rSd96mMTCBMVnEJgibdD6V6j_AASBmvb0sOM6embDCe19TcfwLscByRk93TECpXjhSq5ezr9a1OP3H034p5yCr9DxNLp8dGlXfoRgeswlJRx5XOlDI_0OZZazDA9YK9Pj-A6C7laOJ2BADGYC-0hwePIWjBWUZffbTj67sBhC58wqcXof1-zVQio_0nB94mAv11hKh_fJiiNyKBjQgP0huIzEhVUIj9gGUbhFy_gTCevIgq2LcUTSrTXLuZ_FRV3PDWfVWbuQs5PhVWYkl3-kVPm0kAO4u6QWUQqzrhZAG8MJXqPwkC7s-6snC-SdCJkrusZnIzRcrY2s2xpZuWBcH_71BOfUVC1Klscx77o-j6LkA8tKKAqmRYPm1QyMax8OSEGJZGCg1WlFgy7DrneLecG7O0hgISL6HTb24V7B-xkp7SkjoRDHmSvmwVapv8O3qVAwGbOhgMTD1oYER8UhAMwHExows3NiFQS_3efhzwINHmiqtCHt0Xf-zk0T3XFpQN1A=w638-h850-no'
            },
            {
                name: 'Chicken with potato tomata sauce',
                link: 'https://lh3.googleusercontent.com/a3_0wGGqO05GyeKODFlMwYnL22LkXwkeQgKQ6smKOBs7eprMwQIQgrFKQ7e0xX2wPB_pOiZQPAGy0LNFyz_-WuGuKUXnv78Cc2DngYFgc2DNoZHZP8m2HNU3r3GA0DO1vkCs_ssUmO0bQ5cbA9dIiu1C8XwO5yqYujA-Hh02ONMDAqGZIeUB4LHzMeRDDVdyPcqw0U7Fs1BhrCw9y4nQNg8ap8LfdHX-g0gJJlw_GNfrE6P1zLvvwV5WO03ZJnysjNMdgruMqYvAIfiaqp1DJBbMXr2Mh6D7__VV5_TlOKBbFFQshdVfiu9qRG2zt29VFEuM9AvxS1DaZZK96EfZjKV1YRtDxjmV58jK7fkLWprHLUrhK0KxogxedtQTJrMVeki2g1bLKbuqlico6O2h82yV_6AjSBvewnTYcXsTJJE_R786J3hlIxRFCTOfyB15ND0ZMIwiLE2N7vlKCx3JZxwoPt5eG_xrHVkiVXE_h-KRN-LZoRDjY4xCszfVZPhYm4zD-nUQUlR2i4wWnk-l6K1_SabU71nD7l0Lg1cmRLYRBRPRUiqShNIE3KlrOwniD_ffdYUzGVdmdKr61Tii_vWXCIZ10d1uD42mUrCdbpbumxjInILp1kWgVWU4QGCiPoo5jiserS27H7aTMwv6UgKglg=w638-h850-no'
            },
        ];

        return {
            cookings,
        };
    },
});

</script>

<style scoped>

</style>
