<template>
    <v-container fill-height>
        <v-layout
            column>
            <p>Below is the list of links that I found interesting</p>
            <v-data-table
                :headers="headers"
                :items="links"
                hide-actions
                class="elevation-1"
            >
                <template slot="items"
                    slot-scope="props"
                >
                    <td>{{ props.item.category }}</td>
                    <td class="text-xs-left">
                        <a :href="props.item.url"
                            target="_blank">
                            {{ props.item.title }}
                        </a>
                    </td>
                </template>
            </v-data-table>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
    data() {
        const headers = [
            {
                text: 'Category',
                value: 'category',
            },
            {
                text: 'Title',
                value: 'title',
            },
        ];

        return {
            headers,
        };
    },
    async asyncData({ app }) {
        const links = await app.$axios.$get('/api/links');

        return {
            links,
        };
    },
});

</script>

<style scoped>

a {
    text-decoration: none;
}

</style>
