<template>
    <v-container fill-height
        fluid
        class="container"
    >
        <no-ssr placeholder="Loading...">
            <PCDVisualization></PCDVisualization>
        </no-ssr>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';
import PCDVisualization from '~/components/PCDVisualization.vue';

export default Vue.extend({
    components: {
        PCDVisualization,
    },
});

</script>

<style scoped>

div {
    height: 100%;
    margin: 0;
    padding: 0;
}

</style>
